.vim/bundle/*
!.vim/bundle/neobundle.vim
vimenvs/bundle/*
!vimenvs/bundle/neobundle.vim
.vim/.netrwhist
.vim/.yankround/
.vim/.vimfiler/
.vim/.unite/
.vim/plugin_settings
.vim/.vimwinpos
.vim/vimbackup/
.vim/undo/
.vim/basic_settings

# for osx
.DS_Store

# for shell log
/shell/log/*
!/shell/log/.gitkeep

#
# vscode
#
vscode/Code/Backups
vscode/Code/Cache
vscode/Code/CachedData
vscode/Code/CachedExtensions
vscode/Code/Code Cache
vscode/Code/Cookies
vscode/Code/Cookies-journal
vscode/Code/GPUCache
vscode/Code/Local Storage
vscode/Code/Network Persistent State
vscode/Code/Preferences
vscode/Code/User/globalStorage/
vscode/Code/User/workspaceStorage
vscode/Code/languagepacks.json
vscode/Code/logs
vscode/Code/machineid
vscode/Code/storage.json
