.vim/bundle/*
!.vim/bundle/neobundle.vim
vimenvs/bundle/*
!vimenvs/bundle/neobundle.vim
.vim/.netrwhist
.vim/.yankround/
.vim/.vimfiler/
.vim/.unite/
.vim/plugin_settings
.vim/.vimwinpos
.vim/vimbackup/
.vim/undo/
.vim/basic_settings

# for osx
.DS_Store

