[user]
	name = i05nagai
	email = i05nagai@gmail.com
[include]
	# override some configuration
	path = .gitconfig.env
[core]
	editor = vim
	commentChar = "#"
[alias]
	l = log --abbrev-commit --date=iso --graph --pretty=format:'%C(red)%h %C(yellow)%d%C(green)%cd %C(blue)%cn\n%C(reset)%s\n'
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	log-graph-diff = "!git l --patch"
	log-graph-stat = "!git l --stat"
	log-file-follow = "!git l --folow"
	pom = push origin master
	po = push origin
	co = checkout
	s = status
	initial-commit = commit --allow-empty -m 'Root commit'
	alias = !git config --get-regexp alias
	make-patch = diff --no-prefix
	rebase-fixup = rebase --autosquash -i
	find = "!git ls-files | grep -i"
	set-local-me = !git config --local user.name "i05nagai" && git config --local user.email "i05nagai@gmail.com"
	set-local-user = "!f(){ git config --local user.name \"${1}\" && git config --local user.email \"${2}\"; };f"
	change-commit-author = "!f(){ git commit --amend --author=\"${1} <${2}>\";};f"
	diff-words = diff --color-words
[color]
	ui = auto
