"*":
  core:
    disabledPackages: [
      "markdown-preview"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-monokai"
    ]
  editor:
    fontFamily: "Ricty"
    fontSize: 17
    scrollPastEnd: true
  "exception-reporting":
    userId: "a25cbb6a-a2df-48b0-bdc4-d41337ee86a3"
  "markdown-preview-enhanced":
    exportPDFPageFormat: "A4"
    mathRenderingOption: "MathJax"
  welcome:
    showOnStartup: false
